/* Fair color: #ff5a00 */
.body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* .card-group-item {
  .list-style: none !important;
} */

.card {
  display: inline-block !important;
  margin-left: 5px;
  margin-right: 5px;
}

.card:first-child {
  margin-left: 0px;
}

.cards-wrapper {
  text-align: center;
}

.container {
  margin-top: 0px !important;
}

#fair-logo-text {
  color: #ff5a00;
  font-size: 30px;
  font-weight: bold;
}



.button-main {
  background: #ff5a00;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  font-weight: 200;
  font-size: 12px;
  width: 120px;
  display: block;
  text-align: center;
  transition: 0.2s;
  margin-top: 7px;
}
.list-group-item {
  border: none !important;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #f6f6f6 !important;
  transition: 0.3s;
  background: #f6f6f6;
  border-radius: 9px;
  line-height: 1.1;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 13px 19px -2.5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

a {
  text-decoration: none !important;
}

.container {
  margin-top: 20px;
}

.post-body {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

img.vehicle-index {
  max-width: 200px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
}

.vehicle-text {
  display: block;
  position: relative;
  font-size: 13px;
  color: #000;
}

.vehicle-text.model-year {
  top: -140px;
  left: -0px;
}

.vehicle-text.model {
  top: -140px;
  left: -0px;
}

.as-low-as {
  top:-170px;
  right:-2px;
  text-align: right;
}

.monthly-cost {
  top:-173px;
  right:-4px;
  text-align: right;
  color: #ff5c06;
  font-size: 25px;
  font-weight: 400;
}

.per-month{
  top:-175px;
  right:-5px;
  text-align: right;
}

.vehicle-text.milage {
  top: -10px;
  right: -0px;
  text-align: right;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card {
    width: 100% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
